# Directories.
.huggingface/
timri/
venv/
graphs/
MRI-Images-of-Brain-Tumor/

# Files with the .pth extension.
*.pth

# Update packages script
update_packages.py

# Any .jpg files
*.jpg

# Any .safetensors files
*.safetensors